.DS_Store
*~
*.swp
*.pyc
*.orig
\#*\#
.\#*
/nuclide

/build
/subbuild
Makefile.config

tools/profiler/tmp
third-party/pcre/src/*
third-party/icu/src/*
third-party/jemalloc/src/*

npm-debug.log

.mypy_cache
