[submodule "third-party/gflags/src"]
	path = third-party/gflags/src
	url = https://github.com/gflags/gflags.git
[submodule "third-party/libunwind/src"]
	path = third-party/libunwind/src
	url = https://github.com/libunwind/libunwind.git
        ignore = dirty
[submodule "third-party/icu/src"]
	path = third-party/icu/src
	url = https://github.com/unicode-org/icu.git
[submodule "third-party/jemalloc/src"]
	path = third-party/jemalloc/src
	url = https://github.com/jemalloc/jemalloc.git
[submodule "third-party/googletest/src"]
	path = third-party/googletest/src
	url = https://github.com/google/googletest.git
[submodule "third-party/libunwind"]
	path = third-party/libunwind
	url = https://github.com/libunwind/libunwind.git
